// ______________________ PRIMARY COLORS ________________________________

$white: '#eee';
$dark-grey: #242424;

// ______________________ BACKGROUND COLORS ________________________________

$background: #242424;

// ______________________________ FONTS ______________________________________

$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

